<div data-bind="visible: isLoadingData">
  <p>Pobieranie danych, proszę czekać...</p>
</div>

<div data-bind="visible: isExerciseFormVisible" style="display: none;">
  <form data-bind="submit: submitAnswer">
    <fieldset>
      <table>
        <tr>
          <td colspan="2" style="text-align: center; height: 1.5em;">
            <span data-bind="text: generalFeedback().message, fadeVisible: generalFeedback().type"></span>
          </td>
        </tr>
        <tr>
          <td>Präsens</td>
          <td>
            <input type="text" data-bind="value: praesensAnswer"/>
          </td>
          <td>
            <span class="feedback" data-bind="text: praesensFeedback"></span>
          </td>
        </tr>
        <tr>
          <td>Präteritum</td>
          <td>
            <input type="text" data-bind="value: praeteritumAnswer, valueUpdate: 'afterkeydown'"  autofocus="autofocus"/>
          </td>
          <td>
            <span class="feedback" data-bind="text: praeteritumFeedback"></span>
          </td>
        </tr>
        <tr>
          <td>Partizip II</td>
          <td>
            <input type="text" data-bind="value: partizipAnswer, valueUpdate: 'afterkeydown'"/>
          </td>
          <td>
            <span class="feedback" data-bind="text: partizipFeedback"></span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="orange submit" data-bind="enable: isSubmitEnabled" style="float: right">
              Sprawdzam
            </button>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>

<div data-bind="visible: isSummaryTableVisible" style="display: none;">
  <table>
    <thead>
    <tr>
      <td>Präsens</td>
      <td>Präteritum</td>
      <td>Partizip II</td>
      <td>attempts</td>
    </tr>
    </thead>
    <tbody data-bind="foreach: answeredQuestions">
        <tr>
          <td data-bind="text: praesens"></td>
          <td data-bind="text: praeteritum"></td>
          <td data-bind="text: partizip"></td>
          <td data-bind="text: attempts"></td>
        </tr>
    </tbody>
    <tr>
        <td colspan="3">
            Score: <span data-bind="text: scoreString"></span>
        </td>
        <td>
          <a href="#" data-bind="click: loadNewQuestions">Next round</a>
        </td>
    </tr>
  </table>
</div>

<%= javascript_include_tag "ViewModels/ExerciseViewModel.js" %>
<script type="text/javascript">
    ko.applyBindings(new ExerciseViewModel());
</script>